<section>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <div class = "image">
       <img src="https://images.squarespace-cdn.com/content/v1/5b9d328c365f025c03798449/1609779282644-WETJW7H3FCCI34XNJKHO/Conscious+Candy+October+2020-1600.jpg?format=1500wg">
    </div>

    <div class = "content">
        <h1>About</h1>
        <span><!-- line here --></span>
        <p>We are Sweetooth! A small independent candy shop that brings various sweets suited for different themes. Founded in 2022, our main goal is to distribute bursts of sweetness to everyone for the right occassion. Have a sweet tooth? SWEETOOTH is for you!</p>
      
    </div>
</section><br><br>