<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SWEETOOTH</h5>
          <p class="black-text text-lighten-4">Have any questions? Contact us!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="black-text text-lighten-3" href="/about">About</a></li>
            <li><a class="black-text text-lighten-3" href="/subscribe">Subscribe</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        <a class="right" href="#!"><img src="../../../assets/Icons/fb.jpg" class="icons"></a>
        <a class="right" href="#!"><img src="../../../assets/Icons/insta.png" class="icons"></a>
        <p>© 2022 Copyright Text</p>
        </div>
      </div>
  </footer>
  <!--<footer class="page-footer">
      <div class="row">
          <div class="footer-copyright">
      <div class="container">
    <div class="col 4 center-align">
        <img src="../../../assets/Icons/fb.jpg" class="icons" href="#!">
        <img src="../../../assets/Icons/insta.png" class="icons" href="#!">
</div>
<div class="col 4 center-align">
    © 2022 Copyright Sweetooth
    </div>
<div class="col 4 center-align">
    <a href="#" class="white-text">About  |</a>
    <a href="#" class="white-text">| Contact</a>
</div>
</div>
</div>
</div>
</footer>!-->