<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect black-text darken-text-2" href="/subscribe">subscribe</a>
  </div>
  <div class="carousel-item black-text">
    <a href="#one!"><img src="assets/Resources/banner1.png" class="candypic"></a>
  </div>
  <div class="carousel-item black-text" href="#two!">
    <a href="#two!"><img src="assets/Resources/banner2.png" class="candypic2"></a>
  </div>
  <div class="carousel-item black-text" href="#three!">
    <a href="#three!"><img src="assets/Resources/banner3.png" class="candypic"></a>
  </div>
</div>

  <div class="row themes">
      <div class="col s4 push-s2">
          <h4 class="titulo center-align">Theme of the Month</h4>
          <img class="materialboxed" width="450" height="450" src="assets/Resources/brit.jpg">
      </div>
  
      <div class="col s8 push-s2">
       <br>
       <br>     
       <h5 class="left-align">Previous Editions</h5>
       <div class="editions">
         <div class="col 6">
        <img class="materialboxed" width="200" height="200" src="assets/Resources/easter.jpg">
        <img class="materialboxed" width="200" height="200" src="assets/Resources/valentine.jpg">
      </div>
      <div class="col 6">
        <img class="materialboxed" width="200" height="200" src="assets/Resources/mexicandy.jpg">
        <img class="materialboxed" width="200" height="200" src="assets/Resources/halloween.jpg">
       </div>
      </div>
      </div>
</div>

  <div class="row options">
    <h3 class="center-align">Subscription Options</h3>
    <div class="subscription center-align col s3">
      <h4 class>One Month </h4>
      <h5 class="black-text">$9.99</h5>
      <p>Subscribe one time only to receive<br> the month's theme special bundle.</p>
      <a class="btn waves-effect black-text darken-text-2" href="/subscribe">subscribe</a>
    </div>
    <div class="subscription center-align col s3">
      <h4 class>6 Months</h4>
      <h5 class="black-text">$55.99</h5>
      <p>Subscribe for 6 months to receive<br>6 months' worth of candy with a different theme.</p>
      <a class="btn waves-effect black-text darken-text-2" href="/subscribe">subscribe</a>
    </div>
    <div class="subscription center-align col s3">
      <h4>Yearly</h4>
      <h5 class="black-text">$89.99</h5>
      <p>Subscribe for a year to have<br> candy at your door all year round.</p>
      <a class="btn waves-effect black-text darken-text-2" href="/subscribe">subscribe</a>
    </div>

  </div>