<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Contact Us.</h1>
                        <p class="txt">Feel free to contact us and we will get back to you as soon as we can! It's very important for us to keep in touch with you.</p>
                            <div class="imagess"><img src="../../../assets/Icons/map.png" class="icons" ><p class="ima">525 Business Avenue, NYC </p>
                                <br>
                            </div>
                            <div class="imagess">  <img src="../../../assets/Icons/correo.png" class="icons" ><p class="ima">Sweetooth@gmail.com </p>
                                <br>
                            </div>
                            <div class="imagess">  <img src="../../../assets/Icons/phone.png" class="icons" ><p class="ima">+24 (686)598-5696 </p>
                                <br>
                            </div>
                            <div class="imagess">  <img src="../../../assets/Icons/internet.png" class="icons" ><p class="ima">www.sweetooth.com</p>
                                <br>
                            </div>
                            <div class="imagess">  <img src="../../../assets/Icons/deadline.png" class="icons" ><p class="ima">09:00 -19:00</p>
                                <br>
                            </div>
                                 <!-- <img src="../../../assets/icons/email.png" class="icons" ><p class="ima">Sweethooth@gmail.com </p>
                                <br>
                                <img src="../../../assets/icons/cell.png" class="icons" ><p class="ima"> +24 (686)598-5696 </p>
                                <br>
                                <img src="../../../assets/icons/click.png" class="icons" ><p class="ima"> www.Sweethooth.com </p>
                                <br>-->
    
    
                <span class="center">
                        <p>Follow Us</p>
                            <div>
                                <img src="../../../assets/Icons/facebook.png" class="iconos">
                                <img src="../../../assets/Icons/instagram.png" class="iconos">
                                <img src="../../../assets/Icons/twitter.png" class="iconos">
                                <!--<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                                <!-- <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
                            </div>
                </span>
            </div>
        </div>
        <div class="right">
            <h5 class="bold">Subscribe to our Mailing list</h5>
           <!-- <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>-->
            <form id="myForm"  onsubmit="alert('SUBSCRIBED!');return false">
            <div class="inputs" >
                    <input name="fullname" id="NAME" type="text" placeholder="Full Name"/>
                    <br>
                    <input name="country" id="COUNTRY" type="text" placeholder="Country">
                    <br>
                    <input name="address" id="ADDRESS" type="text" placeholder="Address">
                    <br>
                    <input name="phone" id="PHONE" type="text" placeholder="Phone">
                    <br>
                    <input type="email" id="EMAIL" placeholder="Email">
                    <br>
                    <input type="password" id="PASSWORD" placeholder="Password">
                </div>
                <button type="submit" value="submit" onclick="alert('Charging')">Send</button>
            </form>
    
            <!-- <br><br>-->
           <!--  <div class="remember-me--forget-password">-->
                <!-- Angular -->
               <!--  <label>-->
               <!--  <input type="checkbox" name="item" checked/>-->
               <!--  <span class="text-checkbox">Remember me</span>-->
              <!--   </label>-->
               <!--  <p>forget password?</p>-->
          <!--   </div>-->
           <!-- <br>-->
    
    
        </div>
    </div> 
    
